@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f5f5f7;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
  }

  .dark {
    --background: #0a0a0a;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
  }
}

body {
  @apply bg-background;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b0c10;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0b0c10 rgba(255, 255, 255, 0.1);
}

::-moz-selection {
  @apply text-blackcolor bg-neoncolor;
}

::selection {
  @apply text-blackcolor bg-neoncolor;
}

html {
  scroll-behavior: smooth;
  @apply font-inter;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
}

mark {
  @apply bg-neoncolor;
  padding: 0 0.2em;
}

.dark .anchor {
  @apply bg-anchor-gradient text-neoncolor hover:text-blackcolor bg-auto-175 transition-all duration-300 ease-in-out hover:bg-y-100;
}

.light .anchor {
  @apply text-blackcolor font-medium underline;
}
